*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(53deg, rgba(6,17,32,1) 0%, rgba(79,84,80,1) 77%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(39, 39, 39);
    width: 700px;
    margin: 0 auto;
    background: rgb(248, 246, 246);
    height: 100%;
    right: 0;
}

fieldset {
    border: none;
    margin-top: 20px;
    width: 600px
    
}

.form-wrap {
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.51);
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 20px 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.top-text {
    font-size: 1.25rem;
    margin-top: 100px;
    padding: 30px;
    width: 600px;
    font-weight: bold;
}

.top-text p:last-child {
    margin-top: 10px
}

button {
    padding: 10px 20px;
    font-size: 1.15rem;
    background-color: rgb(36, 39, 36);
    border: none;
    border-radius: 8px;
    margin-left: 30px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.50);
    color: white;
}

form legend {
    font-weight: bold;
    font-size: 1.15rem;
}

.formgroup {
    display:flex;
    justify-content: space-between;
    padding-right: 20%;
    gap: 20px;
    font-size: 14px;
    margin: 1px;
}

.formgroup div {
    flex: 1;
    display:flex;
    flex-direction: column;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.formgroup input {
    width: 200px;
    height: 25px;
    padding: 10px 0px;
    font-size: 16px;
    padding-left: 5px
}

input {
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  input:focus {
    outline: none;
    border-color: #660000;
  }

  input:invalid {
    border: solid red 1px;
  }