*, *::before, *::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(23, 25, 27);
    min-height: 100vh;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    z-index: -1;
}

.bg-img {
    object-fit: cover;
    filter: blur(50px);
    width: 100%;
    height: 100%;
}

.brand-wrap {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: transparent;
    max-width: 50%;
}

.brand-wrap p {
    font-size: 5rem;
    margin-left: 10px;
    max-width: 50vw;
    word-wrap: break-word;
}

.brand-wrap svg {
    margin-left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(10deg, rgba(238,238,238,1) 0%, rgba(228,235,239,1) 53%);
    width: 50%;
    margin-left: auto;
    

}

/*
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(39, 39, 39);
    width: 700px;
    max-width: 700px;
    margin: 0 auto;
    background: linear-gradient(10deg, rgba(238,238,238,1) 0%, rgba(228,235,239,1) 53%);
    height: 100vh;
    min-height: 100vh;
    right: 0;
}

*/

fieldset {
    border: none;
    margin-top: 20px;
    width: 600px
    
}

.form-wrap {
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.51);
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(23, 25, 27);
    color: white;
    width: 100%;
}

.top-text {
    font-size: 1.25rem;
    margin-top: 100px;
    padding: 30px;
    width: 600px;
    font-weight: bold;
}

.top-text p:last-child {
    margin-top: 10px
}

button {
    padding: 10px 20px;
    font-size: 1.15rem;
    background-color: rgb(23, 25, 27);
    border: none;
    border-radius: 8px;
    margin-left: 30px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.50);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

form legend {
    font-weight: bold;
    font-size: 1.15rem;
}

.formgroup {
    display:flex;
    justify-content: space-between;
    padding-right: 20%;
    gap: 20px;
    font-size: 14px;
    margin: 1px;
}

.formgroup div {
    flex: 1;
    display:flex;
    flex-direction: column;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.formgroup input {
    width: 200px;
    height: 25px;
    padding: 10px 0px;
    font-size: 16px;
    padding-left: 5px;
}

input {
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }

  input:focus {
    outline: none;
    border-color: #660000;
  }

  input:invalid {
    border: solid red 1px;
  }


  @media (max-width: 768px) {
    .brand-wrap {
        display: none;
    }

    .container {
        width: 100%;
    }

    .top-text {
        font-size: 1rem;
        padding: 1rem;
    }

    .formgroup div {
        flex: 1 1 100%;
        justify-content: center;
    }

    button {
        width: calc(100% - 2rem);
        margin-left: 1rem;
    }
}

